body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.side {
    margin: 5px 0;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding: 5px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin: 15px;
}

.question-tag {
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: normal;
    display: inline-block;
}

.question-related {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 25px;
}

.question-wechat {
    width: 100%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tags {
    padding-top: 10px;
}

.community-menu {
    margin-bottom: 15px;
    font-size: 13px;
    color: #999;
}

.comment {
    margin: 15px 0;
}

.jumbotron {
    margin: 50px;
}

.btn-comment {
    float: right;
    margin-bottom: 12px;
}

.comments {
    margin-bottom: 15px;
    border-bottom: #eee 1px solid;
    padding-bottom: 10px;
}

.sub-comments {
    border: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    margin-top: 5px;
    color: #999;
    font-size: 15px;
}

.menu .icon {
    margin-right: 5px;
    cursor: pointer;
}

.menu .comment-icon {
    margin-right: 5px;
    cursor: pointer;
}

.menu .active {
    color: #428bca;
}

.menu .icon :hover {
    color: #428bca;
}

.menu .comment-icon :hover {
    color: #428bca;
}

.menu .comment-icon .likecount {
    margin-left: -8px;
}

.footer {
    text-align: center;
    padding: 0 0 15px 0;
    color: #666;
}

.red {
    color: red !important;
}