body {
    background-color: #efefef;
}

.main {
    margin: 0 auto;
    background-color: white;
}

.container-fluid{
    max-width: 1200px;
}

.side {
    margin: 5px 0;
}

.community-tag:hover {
    background-color: #339dff;
    color: #fff !important;
    text-decoration-line: none;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding: 5px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin: 15px;
}

.question-tag {
    margin-right: 5px;
    margin-bottom: 5px;
    white-space: normal;
    display: inline-block;
}

.question-related {
    list-style: none;
    padding-left: 0;
    font-size: 14px;
    line-height: 25px;
}

.question-wechat {
    width: 100%;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
}

.publish-tags {
    padding-top: 10px;
}

.community-menu {
    margin-bottom: 15px;
    font-size: 13px;
    color: #999;
}

.community-menu img{
    height: 13px;
}

.comment {
    margin: 15px 0;
}

.jumbotron {
    margin: 50px;
}

.btn-comment {
    float: right;
    margin-bottom: 12px;
}

.comments {
    margin-bottom: 15px;
    border-bottom: #eee 1px solid;
    padding-bottom: 10px;
}

.sub-comments {
    border: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    margin-top: 5px;
    color: #999;
    font-size: 15px;
}

.menu .icon {
    margin-right: 5px;
    cursor: pointer;
}

.menu .comment-icon {
    margin-right: 5px;
    cursor: pointer;
}

.menu .active {
    color: #428bca;
}

.menu .icon :hover {
    color: #428bca;
}

.menu .comment-icon :hover {
    color: #428bca;
}

.menu .comment-icon .likecount {
    margin-left: -8px;
}

.footer {
    text-align: center;
    padding: 0 0 15px 0;
    color: #666;
}

.red {
    color: red !important;
}

.avatar img{

    border: 1px solid #fff;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
    -ms-transition: .8s;
}
.avatar img:hover{
    -moz-box-shadow:0 3px 10px #888;
    -webkit-box-shadow:0 3px 10px #888;
    transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    -moz-transform:rotate(720deg);
    -o-transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    border-radius:35px;
}



.image-light,.image-light > img{
    display: block;
}
/*父容器*/
.image-light{
    overflow: hidden;
    position: relative; /*设置为相对*/
}
/*图片*/

/*流光（采用伪类实现，当然也可以是子元素）*/
.image-light:after{
    content: '';
    position: absolute; /*相对父级绝对定位*/
    width: 80px;
    height: 100%;
    top: 0;
    left: -200px;  /*起始位置*/
    overflow: hidden;
    z-index:9;
    /*背景渐变（兼容性写法）*/
    background: -moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.3)),color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3)50%,rgba(255,255,255,0) 100%);
    background: linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 50%,rgba(255,255,255,0) 100%);
    -webkit-transform: skewX(-25deg);/*倾斜*/
    -moz-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
/*鼠标滑过*/
.image-light:hover:after{
    -webkit-transition: left 1s ease-in-out; /*过渡*/
    transition: left 1s ease-in-out;
    left:120%; /*结束位置*/
}