<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>山商论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/mylay.css">
    <link rel="stylesheet" href="/css/backToTop.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/layui/layui.js" type="application/javascript"></script>
    <script src="/js/backToTop.js"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<script type="application/javascript">
    var closable = window.localStorage.getItem("closable");
    if (closable == "true") {
        window.close();
        window.localStorage.removeItem("closable");
    }
</script>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"> 发现</span></h3>
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                    <a th:href="@{/(sort='new')}">最新</a>
                </li>
                <li role="presentation" th:class="${sort == 'good' ? 'active':''}">
                    <a th:href="@{/(sort='good')}" class="red">精华帖</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                    <a th:href="@{/(sort='hot30')}">30天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                    <a th:href="@{/(sort='hot7')}">7天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                    <a th:href="@{/(sort='hot')}">最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                    <a th:href="@{/(sort='no')}">消灭零回复</a>
                </li>
            </ul>
            <div class="media" th:each="question : ${topQuestions}" style="overflow: visible">
                <div class="media-left avatar">
                    <a th:href="${'/user/'+question.user.id}">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}"
                             th:alt="${question.user.name}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==1}">提问</a>
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==2}">分享</a>
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==3}">建议</a>
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==4}">讨论</a>
                        <a class="layui-badge layui-bg-green" th:if="${question.column2==5}">公告</a>
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==6}">动态</a>
                        <a class="layui-badge layui-bg-blue" th:if="${question.column2==9}">其它</a>
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                        <a th:if="${question.viewCount>100}" class="fly-list-like layui-hide-xs" title="烫烫烫"><i  class="layui-icon" style="font-size: 20px">&#xe756;</i></a>
                        <span style="float: right">
                            <span th:if="${question.status==1||question.status==3}" class="layui-badge layui-bg-red">精华</span>
                            <span th:if="${question.status==2||question.status==3}" class="layui-badge layui-bg-orange">置顶</span>
                        </span>
                    </h4>
                    <!--<span th:text="${question.description}"></span><br>-->
                    <a th:href="${'/user/'+question.user.id}" link target="_blank">
                        <i th:if="${question.userAccount.vipRank==1}" class="layui-icon fly-list-kiss" title="红砖会员等级：LV1">&#xe735</i>
                        <cite th:class="${question.userAccount.vipRank==1? 'fly-list-kiss':''}" th:text="${question.user.name}"></cite>
                        <i class="layui-badge fly-badge-vip layui-bg-gray layui-hide-xs" th:text="${@environment.getProperty('user.group.r'+question.userAccount.groupId)}"></i>
                    </a>
                    <span class="text-desc">
                        • <span th:text="${question.commentCount}"></span>个评论
                        • <span th:text="${question.viewCount}"></span>次浏览
                        • <span th:text="${question.likeCount}"></span>人收藏
                        • <span th:text="${#dates.format(question.gmtLatestComment,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="media" th:each="question : ${pagination.data}" style="overflow: visible">
                <div th:if="${question.status==0||question.status==1}">
                    <div class="media-left avatar">
                        <a th:href="${'/user/'+question.user.id}">
                            <img class="media-object img-rounded"
                                 th:src="${question.user.avatarUrl}"
                                 th:alt="${question.user.name}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==1}">提问</a>
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==2}">分享</a>
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==3}">建议</a>
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==4}">讨论</a>
                            <a class="layui-badge layui-bg-green" th:if="${question.column2==5}">公告</a>
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==6}">动态</a>
                            <a class="layui-badge layui-bg-blue" th:if="${question.column2==9}">其它</a>
                            <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                            <a th:if="${question.viewCount>100}" class="fly-list-like layui-hide-xs" title="烫烫烫"><i  class="layui-icon" style="font-size: 20px">&#xe756;</i></a>
                            <span style="float: right">
                                <span th:if="${question.status==1||question.status==3}" class="layui-badge layui-bg-red">精华</span>
                            </span>
                        </h4>
                        <!--<span th:text="${question.description}"></span><br>-->
                        <a th:href="${'/user/'+question.user.id}" link target="_blank">
                            <i th:if="${question.userAccount.vipRank==1}" class="layui-icon fly-list-kiss" title="红砖会员等级：LV1">&#xe735</i>
                            <cite th:class="${question.userAccount.vipRank==1? 'fly-list-kiss':''}" th:text="${question.user.name}"></cite>
                            <i class="layui-badge fly-badge-vip layui-bg-gray layui-hide-xs" th:text="${@environment.getProperty('user.group.r'+question.userAccount.groupId)}"></i>
                        </a>
                        <span class="text-desc">
                        • <span th:text="${question.commentCount}"></span>个评论
                        • <span th:text="${question.viewCount}"></span>次浏览
                        • <span th:text="${question.likeCount}"></span>人收藏
                        • <span th:text="${#dates.format(question.gmtLatestComment,'yyyy-MM-dd HH:mm')}"></span>
                        </span>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}" aria-label="FirstPage">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}?'active':''">
                        <a th:href="@{/(page=${page},search=${search},tag=${tag},sort=${sort})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showLastPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="LastPage">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <!--热门标签-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-info">
                <div class="panel-heading" align="center">
                    <h5 class="panel-title">热门标签</h5>
                </div>
                <div class="panel-body">
                    <a th:each="hotTag : ${hotTags}" th:href="@{/(page=1,search=${search},tag=${hotTag},sort=${sort})}"
                       th:text="${hotTag}" class="community-tag"></a>
                </div>
            </div>
            <div th:insert="~{notice :: notice}"></div>
            <div th:insert="~{common/sider :: common_ad}"></div>
        </div>
        <!--<div th:insert="~{common/sider :: index}"></div>-->
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>