<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/mylay.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css"/>
    <link rel="stylesheet" href="/css/community.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js" type="application/javascript"></script>
    <script src="/js/lib/prettify.min.js" type="application/javascript"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/layui/layui.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>
                    <span th:text="${question.title}"></span>
                </h3>
                <span class="text-desc">
                作者：<span th:text="${question.user.name}"></span> |
                阅读数：<span th:text="${question.viewCount}"></span> |
                <th:block th:text="${question.edited?' 编辑':' 发表'}"></th:block>
                时间：<span th:text="${#dates.format(question.gmtModified,'yyyy-MM-dd HH:mm')}"></span>
                </span>
                <!--<div style="text-align: left">
                    <button class="btn btn-warning" th:data-id="${question.id}" onclick="like_question(this)">
                        <span th:id="${'questionlikespan-'+question.id}" class="glyphicon glyphicon-star-empty">
                            收藏
                            <span th:id="${'questionlikecount-'+question.id}" class="badge" style="margin-left: -5px"
                                  th:text="${question.likeCount}"></span>
                        </span>
                    </button>
                </div>-->

                <div class="fly-detail-info">
                    <!-- <span class="layui-badge">审核中</span> -->
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==1}">提问</a>
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==2}">分享</a>
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==3}">建议</a>
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==4}">讨论</a>
                    <a class="layui-badge layui-bg-green" th:if="${question.column2==5}">公告</a>
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==6}">动态</a>
                    <a class="layui-badge layui-bg-blue" th:if="${question.column2==9}">其它</a>
                    <span class="layui-badge" style="background-color: #999;">未结</span>
                    <!-- <span class="layui-badge" style="background-color: #5FB878;">已结</span> -->

                    <span th:if="${question.sticky}" class="layui-badge layui-bg-orange">置顶</span>
                    <span th:if="${question.essence}" class="layui-badge layui-bg-red">精帖</span>

                    <div class="fly-admin-box" th:data-id="${question.id}" th:if="${session.user!=null}">
                        <span th:if="${question.canDelete}" class="layui-btn layui-btn-xs jie-admin"
                              type="del">删除</span>

                        <span th:if="${question.canSticky&&(!question.sticky)}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="stick" rank="1">置顶</span>
                        <span th:if="${question.sticky&&question.canSticky}" class="layui-btn layui-btn-xs jie-admin"
                              type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span>

                        <span th:if="${question.canEssence&&(!question.essence)}"
                              class="layui-btn layui-btn-xs jie-admin" type="set" field="essence" rank="1">加精</span>
                        <span th:if="${question.canEssence&&(question.essence)}"
                              class="layui-btn layui-btn-xs jie-admin" type="set" field="essence" rank="0"
                              style="background-color:#ccc;">取消加精</span>
                        <span th:if="${question.canPromote}" class="layui-btn layui-btn-xs jie-admin" type="set"
                              field="promote" rank="1">提升</span>
                        <span th:if="${question.canClassify}" class="layui-btn layui-btn-xs jie-admin"
                              id="admin-btn">快改</span>
                        <span th:if="${session.user!=null&&question.canEdit}" class="layui-btn layui-btn-xs jie-admin"
                              type="edit"><a th:href="@{'/publish/'+${question.id}}"
                                             style="color: #fff9ec">编辑</a></span>
                    </div>
                    <!--<span class="fly-list-nums">
                         <a href="#comment"><i class="iconfont" title="回复">&#xe60c;</i><span th:text="${question.commentCount}"></span></a>
                         <i class="iconfont" title="浏览">&#xe60b;</i><span th:text="${question.viewCount}"></span>
                    </span>-->
                </div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12  comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-header"
                     th:if="${!#lists.isEmpty(#httpServletRequest.getServletContext().getAttribute('HEADER'))}"
                     th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('HEADER')}">
                    <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"
                       style="color: #A00;font-weight: bold;"></a>
                    <img src="/images/hot.png"/>
                </div>
                <!--内容-->
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                    <textarea style="display:none;" th:text="${question.description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        editormd.markdownToHTML("question-view", {emoji: true});
                    });
                </script>
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                     th:if="${!#lists.isEmpty(#httpServletRequest.getServletContext().getAttribute('FOOTER'))}"
                     th:each="ad : ${#httpServletRequest.getServletContext().getAttribute('FOOTER')}">
                    <a th:href="${ad.url}" th:text="${ad.title}" target="_blank"
                       style="color: #A00;font-weight: bold;"></a>
                </div>
                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    相关标签：
                    <span class="question-tag" th:each="tag : ${question.tag.split(',')}">
                        <a th:href="@{/(page=1,tag=${tag})}"
                           th:text="${tag}" class="community-tag"></a>
                    </span>
                </div>
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    &lt;!&ndash;<a th:href="@{'/publish/'+${question.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == question.creator}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true">编辑</span>
                    </a>&ndash;&gt;
                    &lt;!&ndash;<a class="community-menu" th:href="@{'/publish/'+${question.id}}"
                       th:if="${session.user!=null&&session.user.id == 1}">
                        <img src="/images/jingtie.png" alt="精帖">精帖
                    </a>
                    <a class="community-menu" th:href="@{'/publish/'+${question.id}}"
                       th:if="${session.user!=null&&session.user.id == 1}">
                        <img src="/images/zhiding.png" alt="置顶">置顶
                    </a>&ndash;&gt;
                </div>-->
                <div style="text-align: center">
                    <button class="btn btn-warning" th:data-id="${question.id}" onclick="like_question(this)">
                        <span th:id="${'questionlikespan-'+question.id}" th:text="${question.favorite?'已收藏':'收藏'}"
                              class="glyphicon glyphicon-star-empty">
                            <span th:id="${'questionlikecount-'+question.id}" class="badge" style="margin-left: -5px"
                                  th:text="${question.likeCount}"></span>
                        </span>
                    </button>
                </div>
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
                    <legend th:text="${question.commentCount+'个评论'}"></legend>
                </fieldset>
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">-->
            </div>
            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--<div class="media comments" th:each="comment : ${comments}">-->
                <div class="media comments">
                    <ul class="jieda" id="jieda" th:each="comment : ${comments}">
                        <li th:data-id="${comment.id}" th:id="${'comment-body-'+comment.id}" class="jieda-daan">
                            <div class="media-left avatar">
                                <a href="#">
                                    <img class="media-object img-rounded" th:src="${comment.user.avatarUrl}"
                                         th:alt="${comment.user.name}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h6>
                                    <span th:text="${comment.user.name}"></span>
                                    <i class="layui-badge fly-badge-vip layui-bg-gray" th:text="${@environment.getProperty('user.group.r'+comment.userAccount.groupId)}"></i>
                                    <span th:if="${question.user.id == comment.user.id}">(楼主)</span>
                                </h6>
                                <div th:text="${comment.content}"></div>
                                <!--<div class="menu">
                                    <span class="comment-icon" th:id="${'thumbicon-'+comment.id}">
                                        <span class="glyphicon glyphicon-thumbs-up icon" th:data-id="${comment.id}"
                                              onclick="like_comment(this)"></span>
                                        <span th:id="${'likecount-'+comment.id}" th:text="${comment.likeCount}"
                                              th:class="${comment.likeCount != 0}? 'new likecount' : 'likecount'"></span>
                                    </span>

                                    <span th:data-id="${comment.id}" onclick="collapseComment(this)" class="comment-icon">
                                        <span class="glyphicon glyphicon-comment"></span>
                                        <span th:text="${comment.commentCount}"></span>
                                    </span>
                                    <span class="pull-right"
                                          th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                </div>-->
                                <div class="jieda-reply">
                                    <span class="jieda-zan" th:id="${'thumbicon-'+comment.id}">
                                        <i class="glyphicon glyphicon-thumbs-up icon" th:data-id="${comment.id}" onclick="like_comment(this)"></i>
                                        <em th:id="${'likecount-'+comment.id}" th:text="${comment.likeCount}"
                                            th:class="${comment.likeCount != 0}? 'zanok' : ''"></em>
                                    </span>
                                    <span th:data-id="${comment.id}" onclick="collapseComment(this)">
                                        <i class="glyphicon glyphicon-comment"></i>
                                        <em th:text="${comment.commentCount}"
                                            th:class="${comment.commentCount != 0}? 'zanok' : ''"></em>
                                    </span>
                                    <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                    <div class="jieda-admin" th:if="${session.user!=null&&session.userAccount!=null}">
                                        <!--<span type="edit" th:if="${comment.commentator==session.user.id}">编辑</span>-->
                                        <span type="del"
                                              th:if="${session.userAccount.groupId>18||comment.commentator==session.user.id}">删除</span>
                                        <span class="jieda-accept" type="accept"
                                              th:if="${session.userAccount.groupId>18}">采纳</span>
                                    </div>
                                </div>
                                <!--二级评论-->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                     th:id="${'comment-'+comment.id}">
                                    <!--二级评论内容 js控制-->
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" placeholder="评论一下......"
                                               th:id="${'input-'+comment.id}">
                                        <button type="button" class="btn btn-success pull-right" onclick="comment(this)"
                                                th:data-id="${comment.id}">评论
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--</div>-->
                <h4>
                    发表评论
                </h4>
                <!--<hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">-->
            </div>
            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded"
                                 th:src="${session.user!=null?session.user.avatarUrl:'/images/anonymous.png'}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h6>
                            <span th:text="${session.user!=null?session.user.name:'匿名用户'}"></span>
                        </h6>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea class="form-control comment" id="comment_content" rows="6"></textarea>
                <button type="button" class="btn btn-success btn-comment" onclick="post()">评论</button>
            </div>
            <!--快改-->
            <form class="layui-form" id="admin-panel" style="display:none">
                <input style="display: none" name="id" th:value="${question.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="padding: 9px 0px;text-align: center">所在专栏</label>
                    <div class="layui-input-block" style="margin-left: 80px">
                        <select lay-verify="required" id="column2" name="column2">
                            <option></option>
                            <option value="1" th:selected="${question.column2==1}">提问</option>
                            <option value="2" th:selected="${question.column2==2}">分享</option>
                            <option value="3" th:selected="${question.column2==3}">建议</option>
                            <option value="4" th:selected="${question.column2==4}">讨论</option>
                            <option th:if="${question.canSticky}" th:selected="${question.column2==5}" value="5">公告
                            </option>
                            <option value="6" th:selected="${question.column2==6}">动态</option>
                            <option value="9" th:selected="${question.column2==9}">其它</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="padding: 9px 0px;text-align: center">阅读权限</label>
                        <div class="layui-input-block" style="margin-left: 80px;">
                            <select lay-verify="required" id="permission" name="permission">
                                <option value="0" th:selected="${question.permission==0}">默认，所有用户可见</option>
                                <option value="1" th:selected="${question.permission==1}">LV1及以上用户可见</option>
                                <option value="2" th:selected="${question.permission==2}">LV2及以上用户可见</option>
                                <option value="3" th:selected="${question.permission==3}">LV3及以上用户可见</option>
                                <option value="4" th:selected="${question.permission==4}">LV4及以上用户可见</option>
                                <option value="5" th:selected="${question.permission==5}">LV5及以上用户可见</option>
                                <option value="6" th:selected="${question.permission==6}">LV6及以上用户可见</option>
                                <option value="10" th:selected="${question.permission==10}">会员专享</option>
                                <option value="19" th:selected="${question.permission==19}">管理员可见</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button style="float: right" class="layui-btn" lay-filter="submitAdmin" lay-submit>确认修改</button>
                </div>
            </form>
        </div>
        <!--右边信息栏-->
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-info">
                <div class="panel-heading" align="center">
                    <h5 class="panel-title">发起人</h5>
                </div>
                <div class="media panel-body">
                    <div class="media-left avatar">
                        <a th:href="${'/user/'+question.user.id}">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}"
                                 th:alt="${question.user.name}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a th:href="${'/user/'+question.user.id}" link target="_blank">
                            <i th:if="${question.userAccount.vipRank==1}" class="layui-icon fly-list-kiss" title="红砖会员等级：LV1">&#xe735</i>
                            <cite th:class="${question.userAccount.vipRank==1? 'fly-list-kiss':''}" th:text="${question.user.name}"></cite>
                            <i class="layui-badge fly-badge-vip layui-bg-gray layui-hide-xs" th:text="${@environment.getProperty('user.group.r'+question.userAccount.groupId)}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!--相关问题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 panel panel-info">
                <div class="panel-heading" align="center">
                    <h5>相关问题</h5>
                </div>
                <div class="panel-body">
                    <ul class="question-related">
                        <li th:each="related : ${relatedQuestions}">
                            <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div th:insert="~{notice :: notice}"></div>
            <div th:insert="~{common/sider :: common_ad}"></div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '匿名用户'
        , uid: -1
        , avatar: '/img/avatar/00.jpg'
        , experience: 83
        , sex: '男'
    };
    layui.config({
        version: "3.0.0"
        , base: '/mods/'
    }).extend({
        fly: 'index'
    }).use(['fly', 'face'], function () {
        var $ = layui.$
            , fly = layui.fly;
        //如果你是采用模版自带的编辑器，你需要开启以下语句来解析。

        $('.detail-body').each(function () {
            var othis = $(this), html = othis.html();
            othis.html(fly.content(html));
        });
    });
</script>
<script>
    layui.use(['element', 'layer'/*,'code'*/], function(){
        var element = layui.element;
        var layer = layui.layer;
        /*layui.code({
           elem: 'pre', //默认值为.layui-code
           height:500,
           about: false,
         }); //引用code方法
     */
        //监听折叠
        element.on('collapse(sub-comments)', function(data){
            layer.msg('展开状态：'+ data.show);
        });
    });
</script>
</body>
</html>